<div class="footer-all">
    <footer>
        <div class="footer-icons">
            <div><a target="_blank" href="https://github.com/aaniket-rana442"><i class="fa-brands fa-github"></i></a></div>
            <div><a target="_blank" href="https://www.linkedin.com/in/aniket-rana12/"><i class="fa-brands fa-linkedin"></i><a></a></div>
        </div>
        <div class="linking">
            <ul>
                <li class="tirra-regular"><a href="/">Home</a></li>
                <li class="tirra-regular"><a href="/fcfs">FCFS Algorithm</a></li>
                <li class="tirra-regular"><a href="/sstf">SSTF Algorithm</a></li>
                <li class="tirra-regular"><a href="/look">LOOK Algorithm</a></li>
                <li class="tirra-regular"><a href="/clook">C-LOOK Algorithm</a></li>
                <li class="tirra-regular"><a href="/scan">SCAN Algorithm</a></li>
                <li class="tirra-regular"><a href="/cscan">CSCAN Algorithm</a></li>
                <li class="tirra-regular"><a href="/stimulate">Stimulation</a></li>
            </ul>
        </div>
        <div class="f-info-name">
            &copy; Disk Scheduling Algorithms
        </div>
    </footer>
</div>
