<div class="footer-all">
    <footer>
        <div class="footer-icons">
            <div><a target="_blank" href="https://github.com/aaniket-rana442"><i class="fa-brands fa-github"></i></a></div>
            <div><a target="_blank" href="https://www.linkedin.com/in/aniket-rana12/"><i class="fa-brands fa-linkedin"></i><a></a></div>
        </div>
        <div class="linking">
            <ul>
                <li class="tirra-regular">Home</li>
                <li class="tirra-regular">FCFS Algorithm</li>
                <li class="tirra-regular">SSTF Algorithm</li>
                <li class="tirra-regular">LOOK Algorithm</li>
                <li class="tirra-regular">C-LOOK Algorithm</li>
                <li class="tirra-regular">SCAN Algorithm</li>
                <li class="tirra-regular">CSCAN Algorithm</li>
                <li class="tirra-regular">Stimulation</li>
            </ul>
        </div>
        <div class="f-info-name">
            &copy; Disk Scheduling Algorithms
        </div>
    </footer>
</div>