<header class="navbar">
  <div class="navbar-1">
    <a href="/"><img src="/images_videos/logo_image.png"></a>
    <p>Disk Scheduling Algorithms</p>
  </div>

  <div class="navbar-2">
    <a href="/">Home</a>
    <a href="/stimulate">Stimulation</a>
    <div class="dropdown">
      <a href="/"  id="dropdownbtn-2">Disk Algorithms<i class="fa-solid fa-caret-down"></i></a>
      <ul class="dropdown-menu" id="dropdownMenu-2">
        <li><a href="/fcfs">FCFS</a></li>
        <li><a href="/sstf">SSTF</a></li>
        <li><a href="/look">LOOK</a></li>
        <li><a href="/clook">C-LOOK</a></li>
        <li><a href="/scan">SCAN</a></li>
        <li><a href="/cscan">C-SCAN</a></li>
      </ul>
    </div>
    <a target="_blank" href="https://www.linkedin.com/in/aniket-rana12/">About me</a>
  </div>
</header>